{% extends "base.html" %}

{% block intro %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block formulario %}
{% endblock %}


{% block lista %}

    <div class="container">
      <div class="row">
	<div class="col-sm">
	  <strong>Id</strong>
	</div>
	<div class="col-sm">
	  <strong>Autor</strong>
	</div>
	<div class="col-sm">
	  <strong>Libros</strong>
	</div>
      </div>
    </div>

    {% for autor in autores %}
    <div class="container">
      <div class="row">
	<div class="col-sm">
	  {{ autor.id }}
	</div>
	<div class="col-sm">
	  {{ autor.nombre }}
	</div>
	<div class="col-sm">
	  {% for libro in autor.libros.all %}
	  <p>{{ libro }}</p>
	  {% endfor %}
	</div>
      </div>
    </div>
    {% endfor %}

{% endblock %}
