{% extends "p4.html" %}

{% block intro %}
{% endblock %}

{% block busqueda %}
<h3 class="col-md-10 col-lg-10 mt-5"> Donde encontrarnos:  </h3>
<div class="col-md-10 col-lg-10 mt-5">
  <iframe width="90%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-3.6105644702911377%2C37.17918049444915%2C-3.607217073440552%2C37.181155101775374&amp;layer=mapnik&amp;marker=37.18016780456436%2C-3.6088907718658447" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=37.18017&amp;mlon=-3.60889#map=19/37.18017/-3.60889">Ver mapa más grande</a></small>
</div>
{% endblock %}

{% block insertar %}
{% endblock %}

{% block modificar %}
{% endblock %}

{% block lista %}
{% endblock %}
