{% extends "p4.html" %}

{% block intro %}
{% endblock %}

{% block busqueda %}
{% endblock %}

{% block insertar %}
{% endblock %}

{% block modificar %}
{% endblock %}

{% block lista %}
<h3 class="col-md-10 col-lg-10 mt-2"> Cartelera con las películas recomendadas:</h3>
<div class="col-md-10 col-lg-10 mx-auto mt-2">
  <a class="btn btn-outline-success  mr-5 my-2" onclick="prev()"> Previa</a>
  <img id="pelis" src="/static/recomendadas/west_side_story.jpeg" width="500px" height="600px"\>
  <a class="btn btn-outline-success  ml-5 my-2" onclick="next()"> Siguiente</a>
</div>
{% endblock %}
