{% extends "account/base.html" %}

{% block intro %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block formulario %}
<h1>Abandonar sesión</h1>

<p>¿Está seguro de que quiere abandonar la sesión?</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">Salir</button>
</form>
{% endblock %}

{% block lista %}
{% endblock %}
