{% extends "account/base.html" %}

{% block intro %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block formulario %}
<h1>Registro</h1>

<p>Si tiene ya una cuenta <a href="{{ login_url }}">inicie sesión</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Registrarse &raquo;</button>
</form>

{% endblock %}

{% block lista %}
{% endblock %}
