<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio 2</title>
</head>
<body>
  <big><i>Las direcciones de los ejercicios anteriores son:</i></big>
  
  <h3>Ejercicio 2:</h3>
  <p>Ordenamiento del vector [0, -3, 8, 5, 11, 2, 4] por los siguientes métodos:</p>
  <ul>
    <li><a href="/burbuja/0, -3, 8, 5, 11, 2, 4" > Ordenamiento de burbuja </a></li>
    <li><a href="/insercion/0, -3, 8, 5, 11, 2, 4" > Ordenamiento por inserción </a></li>
    <li><a href="/seleccion/0, -3, 8, 5, 11, 2, 4" > Ordenamiento por selección </a></li>
  </ul>
  
  <h3>Ejercicio 3:</h3>
  <p>Criba de Eratóstenes para los números 100, 150 y 200: </p>
  <ul>
    <li><a href="/criba/100" > 100 </a></li>
    <li><a href="/criba/150" > 150 </a></li>
    <li><a href="/criba/200" > 200 </a></li>
  </ul>
  
  <h3>Ejercicio 4:</h3>
  <p>Números de Fibonacci en las posiciones 0, 1 y 9: </p>
  <ul>
    <li><a href="/fibonacci/0" > 0 </a></li>
    <li><a href="/fibonacci/1" > 1 </a></li>
    <li><a href="/fibonacci/9" > 9 </a></li>
  </ul>
  
  <h3>Ejercicio 5:</h3>
  <p>Comprueba si las siguientes secuencias de paréntesis están balanceadas. Devuelve "Correcto" en caso afirmativo e "Incorrecto" en caso contrario: </p>
  <ul>
    <li><a href="/parentesis/[[][[]]]" > [[][[]]] </a></li>
    <li><a href="/parentesis/[[][[" > [[][[ </a></li>
    <li><a href="/parentesis/[]][[]" > []][[] </a></li>
  </ul>
  
  <h3>Ejercicio 6:</h3>
  <p>1. Identificar cualquier palabra seguida de un espacio y una única letra mayúscula del siguiente texto:</p>
  <p> <a href="/reg1/El agente A preparaba los planes de su misión. Esta noche se encontraría con su archienemigo B y esperabo poder derrotarlo de una vez por todas." >El agente A preparaba los planes de su misión. Esta noche se encontraría con su archienemigo B y esperabo poder derrotarlo de una vez por todas.</a></p>

  <p>2. Identificar correos electrónicos válidos :</p>
  <p> <a href="/reg2/Busqué su correo desesperadamente entre aquella larga lista: maria223@gmail.com, pepito_chiquitito@yahoo.es, jose28ramirez@google45.org... Aquí está: lola_la_ola_6544@sss.es">Busqué su correo desesperadamente entre aquella larga lista: maria223@gmail.com, pepito_chiquitito@yahoo.es, jose28ramirez@google45.org... Aquí está: lola_la_ola_6544@sss.es</a></p>

  <p>3. Identificar números de tarjeta de crédito cuyos dígitos estén separados por - o espacios en blanco cada paquete de cuatro dígitos:</p>
  <p> <a href="/reg3/ No me acordaba de su cuenta bancaria:1234-1234-5678-5678, 1111-1111-1111-1111,9874 5632 1447 1444. Todos intentos fallidos. Ya era 19-03-2020, necesitaba la cuenta urgentemente">No me acordaba de su cuenta bancaria:1234-1234-5678-5678, 1111-1111-1111-1111,9874 5632 1447 1444. Todos intentos fallidos. Ya era 19-03-2020, necesitaba la cuenta urgentemente</a></p>
  
</body>
</html>
