{% extends "p3.html" %}

{% block registro %}
{% endblock %}

{% block intro %}
{% endblock %}
  
{% block title %}
{{ title }}
{% endblock %}

{% block enunciado %}
{{ enunciado}}
{% endblock %}

{% block ejercicio %}
  <h4>Introduce un número del 1 al 100:</h4>

  <!-- Formulario de registro -->
  <div class="container">
    <form class="form-inline mt-2" method='POST' action="/p1ej1/">
      <input name="num" class="form-control mr-2" type="number">
      <button class="btn btn-outline-success  my-2 mx-sm-2" type="submit">Aceptar</button>
    </form>
  </div>
{% endblock %}
