<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Practica 3</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}" >
    
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark" id="navbar">
	<a href="#" class="navbar-left"><img width="80" height="100" src="/static/logo.jpg"></a>
        <a class="navbar-brand" href="/p3/">Cactus Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>		
        </button>

	<div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
	    <!---
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
	    -->

	    <!--- Ejercicios de la práctica 2 -->
	    <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Ejercicios
		<span class="caret"></span></a>
              <ul class="dropdown-menu">
		<li><a href="/p1ej1/">Ejercicio 1</a></li>
		<li><a href="/p1ej2_burbuja/0, -3, 8, 5, 11, 2, 4">Ejercicio 2 - Burbuja</a></li>
		<li><a href="/p1ej2_insercion/0, -3, 8, 5, 11, 2, 4">Ejercicio 2 - Inserción</a></li>
		<li><a href="/p1ej2_seleccion/0, -3, 8, 5, 11, 2, 4">Ejercicio 2 - Selección</a></li>
		<li><a href="/p1ej3/200">Ejercicio 3</a></li>
		<li><a href="/p1ej4/9">Ejercicio 4</a></li>
		<li><a href="/p1ej5/[[][[]]]">Ejercicio 5</a></li>
		<li><a href="/p1ej61/El agente A preparaba los planes de su misión. Esta noche se encontraría con su archienemigo B y esperabo poder derrotarlo de una vez por todas.">Ejercicio 6 - Mayúscula</a></li>
		<li id="ejercicios"><a href="/p1ej62/Busqué su correo desesperadamente entre aquella larga lista: maria223@gmail.com, pepito_chiquitito@yahoo.es, jose28ramirez@google45.org... Aquí está: lola_la_ola_6544@sss.es">Ejercicio 6 - Correos</a></li>
		<li id="ejercicios"><a href="/p1ej63/ No me acordaba de su cuenta bancaria:1234-1234-5678-5678, 1111-1111-1111-1111,9874 5632 1447 1444. Todos intentos fallidos. Ya era 19-03-2020, necesitaba la cuenta urgentemente">Ejercicio 6 - Cuentas</a></li>
              </ul>
	    </li>
          </ul>

	  <!-- Formulario Login -->
	  
	  {% if not session['username'] %}
	  <!-- Si no hay nadie registrado, muestro formulario -->
	  <form class="form-inline mt-2" method='POST' action="/login/">
            <input name="username" class="form-control mr-2" type="text" placeholder="Usuario">
	    <input name="password" class="form-control mr-2" type="password" placeholder="Contraseña">
            <button class="btn btn-outline-success  my-2 mx-sm-2" type="submit">Acceder</button>
	    <a class="btn btn-outline-success  my-2" href="/signup/">Regisrtrarse</a>
          </form>
	  {% else %}
	  <!-- Si hay alguien registrado, botón de salir -->
	  <a id="Config" class="btn btn-outline-success  mr-2" href="/datos/">Datos de {{ session['username'] }}</a>
	  <a class="btn btn-outline-success  my-2" href="/exit/">Salir</a>
	  {% endif %}
	  
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">

    	 <!-- Dashboard-->
        <nav id="Menu" class="col-md-2 col-lg-2 d-md-block sidebar collapse">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Dashboard
            </a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Orders
            </a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Products
            </a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Customers
            </a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Reports
            </a>
          </li>
          <li class="nav-item mr-auto">
            <a class="nav-link" href="#">
              Integrations
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Contenido de la web -->
    <!-- Mensaje de Login -->
    <main role="main" class="container-fluid col-md-10 col-lg-10" >
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      {% if "inválid" in message %}
      <!-- Mensaje de error en el login -->
	<div class="alert alert-danger mt-2" role="alert">
	    {{ message }}
	</div>
	{% else %}
	<!-- Mensaje de éxito en el login -->
	<div class="alert alert-success mt-2" role="alert">
	    {{ message }}
	</div>
	{% endif %}
	{% endfor %}
      {% endif %}
	{% endwith %}

	<!-- Texto de la página -->
	{% block intro %}
	<h1 class="col-md-10 col-lg-10 mt-5"> Práctica 3:</h1>
	<h3> Resolución de los ejercicios de la práctica 2.</h3>
      <p class="lead"> Seleccione en el menú de navegación el ejercicio que quiera ver resuelto.</p>
      {% endblock intro %}

      <!-- Espacio reservado para registrarse o mostrar datos de usuario-->
      <p>{% block registro %} {% endblock %}</p>
      <!-- Espacio reservado para el título. Ej: Ejercicio 2-->
      <h4><b>{% block title %} {% endblock %}</b></h4>
      <!-- Espacio reservado para el enunciado del ejercicio-->
      <h5><i>{% block enunciado %} {% endblock %}</i></h5>
      <!-- Espacio reservado para la solucion del ejercicio-->
      <p>{% block ejercicio %} {% endblock %}</p>
      
    </main>

  </div>
    </div>


    <!-- Pie de pagina-->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Thanks for trusting on us</span>
      </div>
    </footer>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
