{% extends "p3.html" %}

{% block registro %}

  <h4>Crea tu cuenta:</h4>

  <!-- Formulario de registro -->
  <div class="container">
    <form class="form-inline mt-2" method='POST' action="/account_created/">
      <input name="username" class="form-control mr-2" type="text" placeholder="Usuario">
      <input name="password" class="form-control mr-2" type="password" placeholder="Contraseña">
      <button class="btn btn-outline-success  my-2 mx-sm-2" type="submit">Acepto</button>
    </form>
  </div>

  {% endblock %}

{% block intro %}
{% endblock %}
  
{% block title %}
{% endblock %}

{% block enunciado %}
{% endblock %}

{% block ejercicio %}
{% endblock %}
